<h1 class="text-center mt-4">Alpha Bloggers</h1>

<% @users.each do |user| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
			<div class="article-title">
	      		<%= link_to user.username, user %>
	      	</div>
	      	<div class="article-body">
		        <h5 class="card-title">
		          <%= link_to gravatar_for(user, size: 150), user %>
		        </h5>
		        <p class="card-text">
		          <%= pluralize(user.articles.count, "article") %>
		        </p>
	        </div>

	        <div class="article-actions">
	            <%= link_to "View profile", user, class: "btn btn-xs btn-primary" %>
	            <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-xs btn-danger" %>
	        </div>
      	</div>
    </div>
  </div>
<% end %>